body {
    background-color: rgba(24, 24, 24, .7);
    color: #fff;
    -webkit-app-region: drag;
    user-select: none;
    font-family: "Meiryo";
    margin: 0;
    padding: 2%;
}

#textline {
    width: 50%;
}

#textarea {
    width: 80%;
    height: 100px;
    overflow: auto;
    resize: none;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.three {
    width: calc(93% / 3);
}